<?xml version="1.0"?>

<policy xmlns="http://www.wyona.org/security/1.0" use-inherited-policies="false">

  <role id="view">
<!--
    <user id="neutron" permission="true"/>
-->
    <user id="michi" permission="true"/>
    <user id="andi" permission="true"/>
  </role>

</policy>
